* {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.clearfix::after {
    content: "";
    clear: both;
    display: block;
  }

body {
    background-color: lightslategrey;
    background-image: url("../images/cloudy-day.png");
    
}

header {
    background: white;
    border-bottom: 2px solid lightgrey;
    margin-top: auto;
    
}

h1 {
    background:darkkhaki;
    color: white;
    float: left;
    margin: 0px 0px 0px 13%;
    padding: 14px 16px 18px 16px;
}

ul {
    background: white;
    list-style-type: none;
    margin: 0px 13% 0px 0px;
    overflow: hidden;
    padding: 0px;
  }
  
.nav li {
    float: right;
  }
  
.nav li {
    display: block;
    color: grey;
    text-align: center;
    padding: 23px 16px 27px 16px;
    text-decoration: none;
  }

.nav li a:visited {
    color: grey;
}

  .centered {
    background: white;
    margin: 40px auto;
    padding: 25px 25px;
    width: 70%;
}

h2 {
    border-bottom: 4px solid darkgrey;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding-bottom: 25px;
}

footer {
  height: 50px;
  width: 100%;
  border-top: 5px solid darkkhaki;
  bottom: 0;
  color: white;
  background: darkgrey;
  text-align: center;

}