.box {
    height: 250px;
    width: 250px;
}

.centered {
    height: 971px;
    position: relative;
}

img { 
    height: 100%; 
    object-fit: contain;
    width: 100%;
}

h3 {
    background: darkkhaki;
    color: white;
    margin-top: -100px;
    padding: 25px 0px;
    position: absolute;
    text-align: center;
    width: 100%;
}

#link-1 {
    position: absolute;
    top: 143px;
}

#link-2 {
    position: absolute;
    top: 435px;

}

#link-3 {
    position: absolute;
    top: 727px;
}

#link-4 {
    left: 356px;
    position: absolute;
    top: 143px;    
}

#link-5 {
    left: 356px;
    position: absolute;
    top: 435px;
}